html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #3CD28A;
  --gradient: linear-gradient(90deg, #3CD28A 0%, #3CD2AE 100%);
}

/* Navigation links override */
nav .navbar-nav li a{
  text-decoration: none !important;
}

.gradient-background {
  background: var(--primary);
  background: var(--gradient);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3CD28A",endColorstr="#3CD2AE",GradientType=1);
}

.gradient-fill {
  color: var(--primary) !important;
}

.gradient-outline {
  padding: 0.25rem;
  border-radius: 0.7rem;
  background: var(--gradient);
  display: inline-block;
}
.gradient-outline .btn-outline-primary {
  background-color: white;
}

.active a {
  color: var(--primary) !important;
  font-weight: bold;
}

.main-container {
  height: 70vh;
}

ul {
  list-style: none;
}

.styled-bullets li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--primary); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 30px;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: .8em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* Advocacy container widths */
.advocacy-container {
  max-width: 46%;
}

.advocacy-examples {
  max-width: 50%;
}

@media screen and (max-width: 720px) {
  .advocacy-container {
    max-width: 100%;
  }
  
  .advocacy-examples {
    max-width: 100%;
  }
}
  
/* Contact card custom width */
.card-width {
  width: 300px;
}

.partner-width {
  width: 400px;
}

/* About us svg */
.team-svg {
  right: 0;
  top: 120px;
  z-index: -1;
}

.meet-team-height {
  min-height: 580px;
}