html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

a, Link {
	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--primary: #3CD28A;
	--gradient: linear-gradient(90deg, #3CD28A 0%, #3CD2AE 100%);
}

/* Navigation links override */
nav .navbar-nav li a {
	text-decoration: none !important;
}

.gradient-background {
	background: var(--primary);
	background: var(--gradient);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3CD28A", endColorstr="#3CD2AE", GradientType=1);
}

.gradient-fill {
	color: var(--primary) !important;
}

.gradient-outline {
	padding: 0.25rem;
	border-radius: 0.5rem;
	background: var(--gradient);
	display: inline-block;
}

.gradient-outline .btn-outline-primary {
	background-color: white;
}

.active {
	color: var(--primary) !important;
	font-weight: bold;
}

.main-container {
	height: 70vh;
}

ul {
	list-style: none;
}

.styled-bullets li::before {
	content: "\2022";
	/* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: var(--primary);
	/* Change the color */
	font-weight: bold;
	/* If you want it to be bold */
	font-size: 30px;
	display: inline-block;
	/* Needed to add space between the bullet and the text */
	width: .8em;
	/* Also needed for space (tweak if needed) */
	margin-left: -1em;
	/* Also needed for space (tweak if needed) */
}

.week-list ul {
	list-style: none;
	counter-reset: item;
	margin-left: 0;
	padding-left: 0;
}

.week-list li::before {
	content: "Week " counter(item) ": ";
	counter-increment: item;
	color: var(--primary);
	font-weight: bold;
	display: inline-block;
	margin-left: -1em;
	margin-right: 10px;
}

.week-list li {
	margin-bottom: 10px;
}

.styled-numbers ol {
	list-style: none;
	counter-reset: item;
	margin-left: 0;
	padding-left: 0;
}

.styled-numbers li {
	margin-bottom: 10px;
	margin-left: 20px;
}

.styled-numbers li::before {
	content: counter(item) ". ";
	counter-increment: item;
	color: var(--primary);
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

/* Advocacy container widths */
.advocacy-container {
	max-width: 46%;
}

.advocacy-examples {
	max-width: 50%;
}

@media screen and (max-width: 960px) {
	.advocacy-container {
		max-width: 100%;
	}

	.advocacy-examples {
		max-width: 100%;
	}
}

/* Contact card custom width */
.card-width {
	width: 300px;
}

.partner-width {
	width: 400px;
}

.contact-card {
	transition: all 0.3s ease;
}

.contact-card:hover {
	background-color: var(--primary) !important;
	color: white !important;
	transform: scale(1.1);
}

/* Resource card custom width */
.resc-card-width {
	width: 200px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 440px) {
	.resc-card-width {
		width: 46%;
	}
}

.resc-card-width:hover {
	background-color: var(--primary) !important;
	transform: scale(1.1);
}

.resc-card-width:hover p {
	color: white !important;
}

/* About us svg */
.team-svg {
	right: 0;
	top: 120px;
	z-index: -1;
}

.meet-team-height {
	min-height: 580px;
}

.hover-button {
	transition: all 0.3s ease;
}

.hover-button:hover {
	transform: scale(1.05);
}

.bg-brown {
	background-color: #744f3c;
}

/* Navbar */

.navbar-z-index {
	z-index: 100;
	transition: all 0.3s ease;
}

/* Sign up */
.progress-bar {
	height: 6px;
	background-color: #BEBEBE !important;
	width: 90%;
}

@media screen and (max-width: 575px) {
	.progress-bar {
		width: 80%;
	}
}

.progress-loader {
	height: 6px;
	background-color: var(--primary);
	transition: all 0.5s ease;
}

.progress-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	transition: all 1s ease;
}

.progress-offset {
	position: relative;
	top: -17px;
	left: -17px;
}

/* Style article layout */
article,
.column-wrap {
	column-count: 2;
	column-gap: 10em;
	column-width: 400px;
}

span {
	color: var(--primary);
	font-weight: bold;
}

.benefits-class {
	min-width: 50%;
}

#markdown ul {
	list-style:circle;
}

#markdown ol {
	list-style:decimal;
}

#markdown h1 {
	color: var(--primary);
}

.tooltip-text {
	font-size: 0.6rem;
}

.image-crop {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pagination-controls * {
	background-color: white;
	border-radius: 10px;
}
.pagination-controls > div {
	:first-child {
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
	}
	:last-child {
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
	}
	* {
		border: 1 px solid white;
	}
	div {
		height: 38px;
		/* background-color: black; */
		border-top: 1px solid white;
		border-bottom: 1px solid white;
	}
}

div:hover > .press-statement-title {
  color: var(--bs-primary);
}

#CelebrateRuralWrapper {
	/* height: 200px; */
	/* width: 100%; */
	position: relative;
	margin-bottom: 40px;
	.carousel {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2rem;
		width: 100%;
		.carousel-inner {
			max-height: 200px;
			/* max-width: 175px; */
			.carousel-item {
				img {
					object-fit: contain;
					height: 175px;
					width: 100%;
				}
			}
		}
	}
}

.carousel-item {
	height: 100%;
}

.carousel-control-prev {
	position: absolute;
	left: 0;
}

#scroll-container {
	height: 450px;
	/* width: 80%; */
	overflow-y: hidden;
	overflow-x: hidden;
}
#masonry-container {
	width: 100% !important;
	margin: auto;
	/* white-space: nowrap; */
	img {
		width: 200px;
		margin-bottom: 10px;
		/* margin: 5px; */
		object-fit: cover;
	}
}